.container {
    height: 50px;
    background-color: red;
}

.container-fluid {
/*	height: 50px;*/
    background-color: green;
}

.container-fluid .row .added {
    height: 50px;
    background-color: yellow;
    margin-bottom: 10px;
}